In [1]:
import pandas as pd
import rpy2.robjects as ro
from rpy2.robjects import pandas2ri
from rpy2_wrapper2 import *

# R package requirements: "DescTools"
# Please install this package in R console: install.packages("DescTools")

In [3]:
# Import iris dataset from R and transfer to Pandas DataFrame

ro.r("data(iris)")
ro.r("iris$Species <- as.character(iris$Species)")
iris = pandas2ri.rpy2py(ro.r["iris"])
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [4]:
# Import iris data from Pandas DataFrame and transfer to R

data = "new_df"
ro.globalenv[data] = pandas2ri.py2rpy(iris)

In [5]:
category = "Species"
variables = ["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width"]

tukey_results = []

for variable in variables:
    result = tukeyHSD(df="iris",category=category,variable=variable)
    tukey_results.append(result)

tukey_results_df = pd.concat(tukey_results)
tukey_pvalues = tukey_results_df[tukey_results_df["params"]=="p.adj"]
tukey_pvalues

   params        var1        var2         value      variable
3   p.adj  versicolor      setosa  3.386180e-14  Sepal.Length
7   p.adj   virginica      setosa  2.997602e-15  Sepal.Length
11  p.adj   virginica  versicolor  8.287558e-09  Sepal.Length
3   p.adj  versicolor      setosa  3.097522e-14   Sepal.Width
7   p.adj   virginica      setosa  1.360737e-09   Sepal.Width
11  p.adj   virginica  versicolor  8.780206e-03   Sepal.Width
3   p.adj  versicolor      setosa  2.997602e-15  Petal.Length
7   p.adj   virginica      setosa  2.997602e-15  Petal.Length
11  p.adj   virginica  versicolor  2.997602e-15  Petal.Length
3   p.adj  versicolor      setosa  2.997602e-15   Petal.Width
7   p.adj   virginica      setosa  2.997602e-15   Petal.Width
11  p.adj   virginica  versicolor  2.997602e-15   Petal.Width

In [6]:
control="setosa"

dunnett_results = []

for variable in variables:
    result = dunnett_test(df=data,category=category,variable=variable,control=control)
    dunnett_results.append(result)

dunnett_results_df = pd.concat(dunnett_results)
dunnett_pvalues = dunnett_results_df[dunnett_results_df["params"]=="pval"]
dunnett_pvalues

  params        var1    var2         value      variable
3   pval  versicolor  setosa  1.776357e-15  Sepal.Length
7   pval   virginica  setosa  4.440892e-16  Sepal.Length
3   pval  versicolor  setosa  2.220446e-16   Sepal.Width
7   pval   virginica  setosa  9.074665e-10   Sepal.Width
3   pval  versicolor  setosa  2.220446e-16  Petal.Length
7   pval   virginica  setosa  3.330669e-16  Petal.Length
3   pval  versicolor  setosa -2.220446e-16   Petal.Width
7   pval   virginica  setosa  2.220446e-16   Petal.Width

In [7]:
rpy2_close()